.underline-input {
  background: none;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  -webkit-appearance: none !important;
  vertical-align: middle;
  padding-left: 0;
  border-color: #dbe0e2;
}

.dash-comp {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  float: left;
  width: auto !important;
  height: auto !important;
}

.dash-editor {
  /*background: url('../img/grid.png') repeat;*/
  width: 100%;
  height: 800px;
}

.dash-editor .schema-table,
.dash-editor .schema-table > thead,
.dash-editor .schema-table > tbody > tr {
  border: 1px solid black;
}
.dash-editor .schema-table > thead {
  background-color: royalblue;
  color: white;
}
.dash-editor .schema-table th,
.dash-editor .schema-table td {
  padding: 5px;
}
.dash-editor .schema-table tr.injoin {
  background-color: #F5F5F5;
}
.dash-editor .schema-table .table-icon {
  margin-right: 5px;
}
.dash-editor .schema-table .table-title {
  
}
.dash-editor .schema-table .table-info {
  float: right;
  font-size: 125%;
  margin-left: 40px;
}
.dash-editor .schema-table .tr-icon {
  margin-right: 5px;
  border: 1px solid #cecece;
  padding: 1px;
}
.dash-editor .schema-table .tr-name {

}
.dash-editor .schema-table .tr-tools {
  float: right;
  font-size: 125%;
  margin-left: 40px;
  margin-right: 10px;
}
.dash-editor .schema-table .tr-tools i.fa-check-circle {
  color: royalblue;
}
.dash-editor .schema-table .tr-tools i:last-child {
  margin-left: 10px;
}
.dash-editor .schema-table .tr-draw-right-handle {
  position: absolute;
  right: -25px;
  width: 20px;
  height: 20px;
  color: #FFF;
}
.dash-editor .schema-table .tr-draw-right-handle:hover {
  color: gray;
}
.dash-editor .schema-table .tr-draw-right-handle.injoin {
  color: royalblue;
}
.dash-editor .editor-chart-container {
  width: 200px;
  height: 200px;
  background-color: #fff;
}
.dash-editor .editing-chart {

}
.dash-editor .editing-chart .middle {
  padding: 20px;
}
.dash-editor .chart-close {
  position: absolute;
  right: 0px;
  top: -7px;
  font-size: 150%;
  cursor: pointer;
}