<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                     </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                     </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">sdfds</div>
            </li>
            
            <li ng-show="!editMode">
                <a><i class="fa fa-th-large"></i><span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li ng-class="{'active': selectedDashboard.id === dashboard.id}" ng-repeat="dashboard in dashboards">
                        <a href="" ng-click="showDashboard(dashboard)">
                            <span> {{dashboard.name}} </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li ng-show="editMode && editType === 'dashboard'">
                <a><i class="fa fa-bar-chart-o"></i><span class="nav-label"> Charts </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li ng-repeat="chart in charts track by $index">
                        <a href="" id="chart{{$index}}">
                            <i class="{{chart.iconClass}}" aria-hidden="true"></i>
                            <span draggable drag-data="{{chart}}" drag-data-type="chart"> {{chart.name}} </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li ng-show="!editMode">
                <a><i class="fa fa-bar-chart-o"></i><span class="nav-label"> Schemas </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li ng-class="{'active': selectedSchema.id === schema.id}" ng-repeat="schema in schemas track by $index">
                        <a href="" id="schema{{$index}}">
                            <span draggable drag-data="{{schema}}" drag-data-type="schema"> {{schema.name}} </span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="enableSchemaEditMode()"> Create Schema ... </a>
                    </li>
                </ul>
            </li>
            
            <li ng-show="editMode && editType === 'schema'">
                <a><i class="fa fa-bar-chart-o"></i><span class="nav-label"> Data Objects </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li ng-repeat="obj in dataObjects track by $index">
                        <a href="" id="obj{{$index}}">
                            <span draggable drag-data="{{obj}}" drag-data-type="dataobject"> {{obj.name}} </span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li ng-show="!editMode" ng-click="showUsers()">
                <a><i class="fa fa-users"></i><span class="nav-label"> Users </span></a>
            </li>

        </ul>
    </div>
</nav>