<div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="user in users track by $index">
                <div class="contact-box">
                    <a>
                        <div class="col-sm-4">
                            <div class="text-center">
                                <img alt="image" class="img-circle m-t-xs img-responsive" ng-src="{{user.profileImage}}">
                                <div class="m-t-xs font-bold">{{user.role}}</div>
                            </div>
                        </div>
                        <div class="col-sm-8 paddnone">
                            <h3><strong>{{user.name}}</strong></h3>
                            <p ng-repeat="permission in user.permissions">
                                <input type="checkbox" ng-model="permission.selected"> {{permission.description}}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
