<div class="wrapper wrapper-content">
    <div class="row">
        <div class="pull-left"> Create {{editorType === 'dashboard' ? 'Dashboard' : 'Schema'}} </div>
        <div class="pull-right">
          <button ng-click="cancel()"> Cancel </button>
          <button ng-if="editorType === 'dashboard'" ng-click="saveDashboard()"> Save </button>
          <button ng-if="editorType === 'schema'" ng-click="saveSchema()"> Save </button>
        </div>
    </div>

    <div class="row">
      <label class="pull-left">
        <input class="form-control underline-input" type="text" ng-model="editData.dashboard.name" placeholder="Enter Dashboard Name ... " ng-if="editorType === 'dashboard'">
        <input class="form-control underline-input" type="text" ng-model="editData.schema.name" placeholder="Enter Schema Name ... " ng-if="editorType === 'schema'">
      </label>
    </div>

    <div class="row dash-editor" droppable on-drop="onDrop">

    </div>
</div>