<div class="editor-chart-container text-center">
  <!-- <div class="measurement text-center"> {{chartData.width}}x{{chartData.height}} </div> -->
  <div class="chart-close">
    <span ng-click="removeChart(chartData)">
      <i class="fa fa-times"></i>
    </span>
  </div>
  <div class="editing-chart">
    <div class="middle">
      <span>
        <i class="{{chartData.iconClass}}"></i>
      </span>
    </div>
    <div class="controls">
      <div>
        <button ng-click="addDimensions()"> Add Dimensions </button>
      </div>
      <div>
        <button ng-click="addMeasure()"> Add Measure </button>
      </div>
    </div>
  </div>
</div>